/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Overall preset */
html {
    box-sizing: border-box;
 }

 *,
 *:before,
 *:after {
    box-sizing: inherit;
 }

body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

h1, h4 {
    font-family: 'Allura', cursive;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: .5em;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: .5rem;
    text-align: center;
}

p {
    padding: .5rem;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

i {
    color: black;
}

.wrapper {
    width: 100%;
    margin: auto;
    max-width: 1280px;
}

/* colours
cornsilk #f4f4d3
peach crayola #f6be9a
rose madder #df2935
seal brown #4c230a
spanish violet #4a306d
russian violet #23022e */


/********** Header **********/

/* Skip links properties */
.skip-links{
    list-style: none;
    margin: 0;
    padding: 0;
}

.skip-links a{
    position: absolute;
    top: -3em;
    background-color: #4c230a;
    color:#f4f4d3;
    padding: .5em 1em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
}
  
.skip-links a:focus{
    top: 0;
}


/* Set for header top */
.menu {
    display: inline-flex;
    /* flex-direction: row; */
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    position: relative;
}

/* Hidden nav menu properties */
#menu-items {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -300px;
    transition: 0.5s;
    padding-top: 100px;
    background: #f6be9a;
    z-index: 5;
}

nav ul li {
    font-size: 1.5rem;
    /* padding: 10px; */
}

#menu-items a {
    color: #4c230a;
    display: block;
    width: 100%;
    padding: 10px 0;
}

/* Hovering effects on nav links and icons */
#menu-items a:hover {
    /* color: #df2935; */
    background-color: #f4f4d3;
    display: inline-block;
}

.fa:hover {
   color: #df2935;
   transition: .3s;
}

nav:hover > label[for=bar] > span {
    background-color: #df2935;
    transition: 0.1s;
}

#menu-items .active {
    color: #4c230a;
    background-color: #f4f4d3;
}

/* Use label instead of using chectbox for hamburger menu bar */
input[id=bar] {
    /* display: none; */
    opacity: 0;
    left: 10px;
    top: 5px;
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

label[for=bar] {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    top: 20px;
    cursor: pointer;
    transition: 0.5s;
}

/* Nav bar slides from left-hand-side after click events  */
input[id=bar]:checked ~ #menu-items {
    left: 0;
}

/* Set the span as an hamburger menu button */
label[for=bar] span {
    background-color: black;
    display: block;
    width: 21px;
    height: 3.5px;
    margin: 3px 20px;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: 0.5s;
}

label[for=bar] span:nth-child(1) {
    top: 0;
}

label[for=bar] span:nth-child(2) {
    top: 15%;
}

label[for=bar] span:nth-child(3) {
    top: 30%;
}

  /* Sliding animation to X-shape */
input[id=bar]:checked + label span:nth-child(1) {
    top: 15%;
    transform: rotate(45deg);
}

input[id=bar]:checked + label span:nth-child(2) {
    opacity: 0;
}

input[id=bar]:checked + label span:nth-child(3) {
    top: 15%;
    transform: rotate(-45deg);
}

/* Header top logo size */
.logo img {
    width: 50%;
}

/* Hidden search bar properties */
#search-bar {
    width: 300px;
    position: fixed;
    top: 70px;
    right: -300px;
    transition: 0.5s;
    background: #4c230a;
    padding: 5px;
    border: none;
}

#search-bar input {
    width: calc(100% - 50px);
    height: 50px;
    /* font-size: 16px; */
    margin: 0 auto;
    background-color: #f4f4d3;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
}

#search-bar button {
    background-color: #4c230a;
    /* border: 1px solid #c78c06; */
    height: 50px;
    width: 50px;
    float: right;
    border: none;
}

button .fa-search {
    color: #f4f4d3;
}

/* Use label instead of using chectbox for search bar */
input[id=search] {
    /* display: none; */
    opacity: 0;
    right: 0px;
    top: 5px;
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
}


label[for=search] {
    /* width: 50px;
    height: 50px; */
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 1;
}

/* Search bar slides from right-hand-side after click events  */
input[id=search]:checked ~ #search-bar {
    right: 0;
    position: absolute;
}

.menu i {
    font-size: 1.5rem;
    padding: 10px;
}

/* Main banner area */
.main-banner img {
    height: 320px;
    object-fit: cover;
    object-position: 50% 30%;
}

.content-banner img {
    height: 200px;
    object-fit: cover;
}

.about-banner img {
    object-position: 50% 75%;
}

.banner h1 {
    font-size: 2rem;
    padding: .5em;
    color: #4a306d;
}

/********** Main **********/

/* Flexbox properties with changing orders */
.article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    background-color: #f4f4d3;
}

.article img {
    display: block;
    margin: 0 auto;
    height: 100%;
    object-fit: cover;
}

.pic-1 {
    flex-basis: 50%;
    position: relative;
}

.container-1 {
    flex-basis: 50%;
    align-self: center;
}

.pic-2 {
    order: 1;
    flex-basis: 50%;
    position: relative;
}

.container-2 {
    flex-basis: 50%;
    align-self: center;
}


/********** Footer **********/

/* Footer properties */
.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
    margin-top: 20px;
}

.buttons {
    flex-basis: 100%;
}

.button {
    background-color: #4a306d;
    color: #f4f4d3;
    font-size: 1.2em;
    padding: .5em 1.5em;
    display: inline-block;
    margin: 10px;
    margin-bottom: 0;
}

.button:hover {
    opacity: .7;
}

.copyright {
    padding: 10px;
    line-height: 2rem;
    flex-basis: 80%;
    align-self: center;
}

.social-media {
    padding: 10px;
    flex-basis: 20%;
    text-align: right;
    font-size: 1.5rem;
    align-self: center;
}

.social-media i {
    padding: 5px;
}

.attribute {
    padding: 0 10px 10px 10px;
    flex-basis: 100%;
}

.attribute a {
    color: #23022e;
    text-decoration: underline;
}

.attribute a:hover {
    color: #4a306d;
}


/***** Set for the About page content *****/

.about {
    padding: 10px;
}

.about p {
    text-align: center;
}

.about img {
    padding: 10px;
    width: 100%;
}

.card {
    text-align: center;
    background-color: #4c230a;
    padding-bottom: 1.5rem;
    color: #f4f4d3;
    font-size: 1.1rem;
    margin: 10px 0;
}

.about ul li:first-child {
    font-size: 1.2em;
    font-weight: bold;
    color: #f6be9a;
}


/***** Set for the Contact page content *****/

/* Form Properties */
.contact {
    padding: 20px;
    line-height: 2em;
    margin: auto;
    background-color: #4c230a;
    color: #f4f4d3;
    max-width: 500px;
}

.form h3 {
    margin-bottom: 1em;
}

.form input {
    width: 100%;
    height: 2rem;
    border: 1px solid #23022e;
    margin-bottom: 1rem;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
}

.form textarea {
    width: 100%;
    height: 10rem;
    border: 1px solid #23022e;
    resize: none;
    overflow: auto;
    margin-bottom: 1rem;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    line-height: 1.3em;
}

form div {
    text-align: center;
}

form input:focus, form textarea:focus {
    outline: #f6be9a;
    outline-style: dashed;
}

/* Send button properties */
.form button {
    background-color: #4c230a;
    color: #f4f4d3;
    border: 1px solid #f4f4d3;
    font-size: 1.5rem;
    padding: .5em 1.5em;
}

.form button:hover {
    background-color: #f6be9a;
    color: #df2935;
    border: 1px solid #f6be9a;
}


/*******************************************************
 Adds media query for the screen size of 960px and above
 *******************************************************/

 @media screen and (min-width: 960px) {

    /* Presets */
    body {
        font-size: 16px;
    }
    
    /* Header top logo size */
    .menu {
        margin: 20px 0;
        height: max-content;
    }

    label[for=bar] {
        top: 10px;
    }

    /* Put search bar on the top-right corner */
    #search-bar {
        width: 250px;
        position: inherit;
        margin-right: 10px;
        background: #4c230a;
        padding: 0;
        border: none;
    }

    input[id=search] {
        display: none;
        opacity: 0;
    }

    label[for=search] {
        display: none;
    }

    /* Main logo to be centered */
    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .logo img {
        width: 70%;
    }

    /* Banner image size changing */
    .main-banner img {
        height: 500px;
        object-position: 50% 30%;
    }

    .content-banner img {
        height: 300px;
    }

    .banner h1 {
        font-size: 3rem;
        margin: 1rem;
    }

    /* Change the layout of About page */
    .about {
        display: flex;
    }

    .card {
        flex-basis: 60%;
    }

    .about-p {
        flex-basis: 40%;
        align-self: center;
    }

    h2 {
        font-size: 2.5rem;
    }

    #main {
        margin-top: 1rem;
    }

    /* Set max-width of Contact page form */
    .contact {
        max-width: 70%;
    }

    /* Footer elements in different order */
    .buttons {
        flex-basis: 40%;
        text-align: end;
    }

    .copyright {
        flex-basis: 50%;
        order: -1;
    }

    .social-media {
        flex-basis: 10%;
        text-align: center;
    }
 }

 /* Animations */
 @keyframes down{
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    
    100%{
        transform: translateY(0);
    }
}

.banner h1 {
    animation: down 1.5s;
}

.pic-link {
    background-color: #23022e;
    color: #f4f4d3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .3s;
}

.pic-link:hover {
    opacity: .7;
}

.pic-text {
    color: #f4f4d3;
    font-size: 1.5em;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}